#Databases of SIF Files
cutest-sif/*
1-cutest-sif/*

#workspace configurations.vscode/*

#Not important files
#-------------------- IMAGES --------------------#
images/condition_analysis/test/*
images/historials_grads/test/*
images/paths/test/*

#--------------------- FILES ---------------------#
csvs/historials/test/*
csvs/results/test/*
csvs/results/Functional_analysis/*
csvs/historials/Functional_analysis/*

#--------------------- FILES ---------------------##
tables_creation/TEXTABS/*.tex
tables_creation/robust_execution_generation_commands.txt
tabs.txt

#------------------ TABLES FILES ------------------#
tables_creation/TEXTABS/*


