#Databases of SIF Files
cutest-sif/*
1-cutest-sif/*

#workspace configurations
.vscode/*

#Not important files
#-------------------- IMAGES --------------------#
images/condition_analysis/test/*
images/historials_grads/test/*
images/paths/test/*

#--------------------- FILES ---------------------#
csvs/historials/test/*
csvs/results/test/*

#--------------------- FILES ---------------------##
tables_creation/TEXTABS/*.tex